<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal">
      <h2>Upload Files</h2>

      <div class="form-group">
        <label for="inputCollection" class="col-sm-2 control-label">Collection</label>
        <div class="col-sm-10">
          {{input
              type="text"
              class="form-control"
              id="inputCollection"
              placeholder="Add to collection"
              value=collection
          }}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
          {{ember-selectize
              content=model.tags
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=tags
              multiple=true
              create='newTag'
              placeholder="Tags to apply"
          }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          {{#file-picker addFiles='addFiles' class="btn btn-primary" multiple=true}}
            Add Files
          {{/file-picker}}
          <button class="btn btn-success" {{action 'submit'}}>
            Upload
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{{#if files}}
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each file in files}}
            <tr>
              <td>{{file.name}}</td>
              <td>{{human-file-size file.size}}</td>
              <td>
                <button class="btn btn-danger btn-xs" {{action 'removeFile' file}}>
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}
