<table class="table table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Size</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {{#each item in items}}
      {{#link-to 'file' item.id tagName="tr"}}
        <td>{{item.id}}</td>
        <td>{{moment-calendar item.created_at}}</td>
        <td>{{human-file-size item.size}}</td>
        <td>
          {{! TODO: This doesn't properly comma-ify the last item }}
          {{#each tag in item.tags ~}}
            {{tag.name}},
          {{else}}
            <i>None</i>
          {{~/each}}
        </td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
