<table class="pure-table pure-table-horizontal full-width">
  <thead>
    <th>ID</th>
    <th>Created At</th>
    <th># of Files</th>
    <th>Tags</th>
  </thead>
  <tbody>
    {{#each item in items}}
      {{#link-to 'file' item.id tagName="tr"}}
        <td>{{item.id}}</td>
        <td>{{moment-calendar item.created_at}}</td>
        <td>{{item.files.length}}</td>
        <td>
          {{! TODO: This doesn't properly comma-ify the last item }}
          {{#each tag in item.tags ~}}
            {{tag.name}},
          {{else}}
            <i>None</i>
          {{~/each}}
        </td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
