<div class="row">
  <div class="col-md-9">
    File {{model.id}} named: '{{model.name}}'
  </div>
  <div class="col-md-3">
    <h4>Tags</h4>
    <ul>
      {{#each tag in model.tags}}
        <li>
          {{#link-to 'tag' tag.id}}
            {{tag.name}}
          {{/link-to}}
          (<i class="fa fa-trash" {{action 'removeTag' tag}}></i>)
        </li>
      {{else}}
        <li><i>No tags</i></li>
      {{/each}}
    </ul>
    <form {{action 'addTag' on="submit"}}>
      {{input type="text"
              class="form-control"
              value=newTag
              placeholder="New Tag"}}
    </form>
  </div>
</div>
