<div class="row">
  <div class="col-md-9">
    File {{model.file.id}} named: '{{model.file.name}}'
  </div>
  <div class="col-md-3">
    <h4>Tags</h4>
    <ul>
      {{#each tag in model.file.tags}}
        <li>
          {{#link-to 'tag' tag.id}}
            {{tag.name}}
          {{/link-to}}
          (<i class="fa fa-trash" {{action 'removeTag' tag}}></i>)
        </li>
      {{else}}
        <li><i>No tags</i></li>
      {{/each}}
    </ul>
    <form class="" {{action 'addTag' on='submit'}}>
      <div class="input-group">
        {{! TODO: a select box, as opposed to a freeform control? }}
        {{input
            type="text"
            class="form-control"
            value=tagToAdd
            placeholder="New Tag"
        }}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Add</button>
        </span>
      </div>
    </form>
  </div>
</div>
